.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  button {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  