<app-navbar></app-navbar>
<div class="container">
  <h2 class="text-center">Productos disponibles</h2>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let producto of productos">
      <div class="card h-100">
        <img src="{{ producto.image }}" class="card-img-top" alt="{{ producto.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ producto.title }}</h5>
          <p class="card-text">{{ producto.description }}</p>
          <p class="card-text">{{ producto.price | currency }}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>


  