<app-navbar></app-navbar>
<div *ngIf="productosEnCarrito.length > 0">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productosEnCarrito">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.precio | currency }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.cantidad * producto.precio | currency }}</td>
              <td><button (click)="eliminarProducto(producto)">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="total">
        <button (click)="irAPagar()">Ir a pagar</button>

        <p>Total Productos: {{ totalProductos }}</p>
        <p>Total a pagar: {{ totalPagar | currency }}</p>
      </div>
      <div class="botones">
        <button (click)="vaciarCarrito()">Vaciar Carrito</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="productosEnCarrito.length === 0">
  <p>No hay productos en el carrito</p>
</div>



  